/* Custom Toast Styles */

/* Success toast */
.Vue-Toastification__toast--success {
  background-color: var(--palette-orange) !important;
}

/* Warning toast */
.Vue-Toastification__toast--warning {
  background-color: var(--palette-dark-orange) !important;
}

/* Error toast */
.Vue-Toastification__toast--error {
  background-color: var(--palette-dark-orange) !important;
}

/* Info toast */
.Vue-Toastification__toast--info {
  background-color: var(--palette-medium-blue) !important;
  color: var(--palette-lightest-orange) !important;
}

/* Customize the progress bar colors */
.Vue-Toastification__toast--success .Vue-Toastification__progress-bar {
  background-color: var(--palette-dark-orange) !important;
}

.Vue-Toastification__toast--warning .Vue-Toastification__progress-bar {
  background-color: var(--palette-dark-blue) !important;
}

.Vue-Toastification__toast--error .Vue-Toastification__progress-bar {
  background-color: var(--palette-dark-blue) !important;
}

.Vue-Toastification__toast--info .Vue-Toastification__progress-bar {
  background-color: var(--palette-dark-blue) !important;
}

/* Optional: Customize font and border radius */
.Vue-Toastification__toast {
  border-radius: 8px !important;
  font-family: inherit !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
